mtm/ex1/wet_exercise/build/mtm_ex1.exe
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/C.includecache
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/map.c.obj
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/objects.a
mtm/ex1/wet_exercise/build/mtm_ex1.exe
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/map.c.obj
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/objects.a
mtm_ex1/wet_exercise/build/*
mtm/ex1/wet_exercise/.vscode/*
