mtm/ex1/wet_exercise/build/mtm_ex1.exe
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/C.includecache
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/map.c.obj
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/objects.a
mtm/ex1/wet_exercise/build/mtm_ex1.exe
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/map.c.obj
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/objects.a
mtm_ex1/wet_exercise/build/
mtm/ex1/wet_exercise/.vscode/
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/objects.a
mtm/ex1/wet_exercise/build/cmake_install.cmake
mtm/ex1/wet_exercise/build/CMakeCache.txt
mtm/ex1/wet_exercise/build/compile_commands.json
mtm/ex1/wet_exercise/build/Makefile
mtm/ex1/wet_exercise/build/mtm_ex1.exe
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/cache-v2-bfc2520edf9d4c30a8a8.json
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/cache-v2-fccf4cbe8fbabf50a0a2.json
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/codemodel-v2-1f5f238aa1b594c0b92b.json
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/codemodel-v2-530e939ec544c84fcd94.json
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/index-2020-04-11T13-40-20-0266.json
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/index-2020-04-11T15-06-50-0431.json
mtm/ex1/wet_exercise/build/.cmake/api/v1/reply/index-2020-04-11T15-49-30-0748.json
mtm/ex1/wet_exercise/build/CMakeFiles/CMakeDirectoryInformation.cmake
mtm/ex1/wet_exercise/build/CMakeFiles/CMakeOutput.log
mtm/ex1/wet_exercise/build/CMakeFiles/Makefile.cmake
mtm/ex1/wet_exercise/build/CMakeFiles/Makefile2
mtm/ex1/wet_exercise/build/CMakeFiles/TargetDirectories.txt
mtm/ex1/wet_exercise/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
mtm/ex1/wet_exercise/build/CMakeFiles/3.17.0/CMakeSystem.cmake
mtm/ex1/wet_exercise/build/CMakeFiles/3.17.0/CompilerIdC/a.exe
mtm/ex1/wet_exercise/build/CMakeFiles/Progress/2
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/build.make
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/C.includecache
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/depend.internal
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/DependInfo.cmake
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/link.txt
mtm/ex1/wet_exercise/build/CMakeFiles/mtm_ex1.dir/objects.a
mtm/ex1/wet_exercise/tests/shai_test.exe
